/*Specifies a space to hold floating elements*/
#blurb {
  padding: 5px 20px;
  min-width: 400px;
  flex: 30%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 80px;
}

#blurb-floating {
  position: sticky;
  top: 90px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#blurb-floating-title {
  font-size: 4em;
}

#blurb-floating-title:hover {
  cursor: pointer;
}

#blurb-floating-title-name {
  font-weight: bold
}

#blurb-floating-body {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  line-height: 1.4em;
}

#blurb-floating-body div:first-of-type {
  padding-bottom: 10px;
  color: white;
}

@media screen and (max-width: 1000px) {
  #blurb,
  #blurb-floating {
    position: static;
    padding: 0px;
  }

  #blurb {
    display: flex;
    flex: unset;
    flex-direction: column;
    row-gap: 10px;
    min-height: 200px;
    min-width: 100%;
  }

  #blurb-floating {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  #blurb-floating-title {
    font-size: 3em;
  }

}
