#footer-content {
  padding: 60px 0px;
  padding-top: 100px;
}

@media screen and (max-width: 1000px) {
  #footer-content {
    padding: 0px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}

footer a:hover {
  color: #50B9A7;
}
