
#main-container {
  display: flex;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 100px;
  margin: 0px auto;

  min-height: 100vh;
  column-gap: 20px;
}

#main-content {
  min-height: 100vh;
  height: auto;

  flex: 70%;

  padding: 5px 20px;
  min-width: calc(min(60%, 600px));

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#main-content-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  row-gap: 70px;
}

@media screen and (max-width: 1000px) {
  #main-container {
    padding-left: 0px;
    padding-right: 0px;

    flex-direction: column;
    align-items: center;
  }

  #main-content {
    position: static;
    padding: 0px;
  }
}

@media screen and (min-width: 1700px) {
  #main-content {
    max-width: 600px;
  }
}
